# Tester ses compétences en manipulation et dataviz

Ce notebook présente la 6e partie du tutoriel pour la représentation de données, selon le cours. Il intervient juste après le module NumpyLab. Il concerne le test de ses compétences dans la représentation de données. Un jeu de données est fourni.

## Importer les module

In [1]:
## Manipuler les données
import pandas

## Traitement
import numpy

## Représentation
import seaborn
import matplotlib.pyplot as plt

In [2]:
games = pandas.read_csv(".\\DONNEES\\games.csv", sep=",", decimal=".", encoding="utf-8", header=0)
games.head()

,id,type,name,yearpublished,minplayers,maxplayers,playingtime,minplaytime,maxplaytime,minage,users_rated,average_rating,bayes_average_rating,total_owners,total_traders,total_wanters,total_wishers,total_comments,total_weights,average_weight
0,12333,boardgame,Twilight Struggle,2005.0,2.0,2.0,180.0,180.0,180.0,13.0,20113,8.33774,8.22186,26647,372,1219,5865,5347,2562,3.4785
1,120677,boardgame,Terra Mystica,2012.0,2.0,5.0,150.0,60.0,150.0,12.0,14383,8.28798,8.14232,16519,132,1586,6277,2526,1423,3.8939
2,102794,boardgame,Caverna: The Cave Farmers,2013.0,1.0,7.0,210.0,30.0,210.0,12.0,9262,8.28994,8.06886,12230,99,1476,5600,1700,777,3.7761
3,25613,boardgame,Through the Ages: A Story of Civilization,2006.0,2.0,4.0,240.0,240.0,240.0,12.0,13294,8.20407,8.05804,14343,362,1084,5075,3378,1642,4.1590
4,3076,boardgame,Puerto Rico,2002.0,2.0,5.0,150.0,90.0,150.0,12.0,39883,8.14261,8.04524,44362,795,861,5414,9173,5213,3.2943

In [3]:
## Quelle est la moyenne de jeu, tout jeu confondu ?
games["playingtime"].mean() ## attendu : 51.63

51.63478827682052